<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <title>Prenotazioni - CAI Sovico</title>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/javascript/jQuery/jquery-1.11.2.min.js"></script>     <!-- required for Bootstrap-->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>


    <script>
        function getData(pid){
            $("#left-box-title").text("Loading...");
            $("#left-box-nome").text('');
            $("#left-box-tel").text('');
            $("#left-box-arrivo").text('');
            $("#left-box-durata").text('');
            $("#left-box-posti").text('');
            $("#left-box-resp").text('');
            $.get('/data/cliente', {
                prenid: pid
            }).done(function(gotData) {
                var data = JSON.parse(gotData)
                $("#left-box-num").html('Prenotazione № ' + data.prenid);
                $("#left-box-nome").html('<b>Nome Cliente</b>: ' + data.nome);
                $("#left-box-tel").html('<b>№ Telefono</b>: ' + data.tel);
                $("#left-box-arrivo").html('<b>Data arrivo</b>: ' + data.arrivo);
                $("#left-box-durata").html('<b>Durata</b>: ' + data.durata);
                $("#left-box-posti").html('<b>Posti prenotati</b>: ' + data.posti);
                $("#left-box-resp").html('<b>Responsabile</b>: ' + data.resp);
            }).fail(function() {
                alert('ERRORE! Il server non ha restituito i dati della prenotazione.');
                $("#left-box").text("ERRORE");
            });
        };

        function getGestore(gid){
            $("#left-box-title").text("Loading...");
            $("#left-box-nome").text('');
            $("#left-box-tel").text('');
            $("#left-box-arrivo").text('');
            $("#left-box-durata").text('');
            $("#left-box-posti").text('');
            $("#left-box-resp").text('');
            $.get('/data/gestore', {
                prenid: gid
            }).done(function(gotData) {
                var data = JSON.parse(gotData)
                $("#left-box-num").html('Gestione № ' + data.prenid);
                $("#left-box-nome").html('<b>Nome Gestore</b>: ' + data.nome);
                $("#left-box-tel").html('<b>№ Telefono</b>: ' + data.tel);
                $("#left-box-arrivo").html('<b>Data arrivo</b>: ' + data.arrivo);
                $("#left-box-durata").html('<b>Durata gestione</b>: ' + data.durata);
                $("#left-box-posti").html('<b>Posti occupati</b>: ' + data.posti);
            }).fail(function() {
                alert('ERRORE! Il server non ha restituito i dati della prenotazione.');
                $("#left-box").text("ERRORE");
            });
        };

        function makeBooking(){
            var div = document.createElement("div");
            div.style.width = "100px";
            div.style.height = "100px";
            div.style.position = "absolute";
            div.style.right = "40%";
            div.style.zIndex = "50";
            div.style.background = "red";
            div.style.color = "white";
            div.innerHTML = "Hello";
            document.body.appendChild(div);
            var child = document.createElement("div");
            child.style.width = "50px";
            child.style.height = "50px";
            child.style.background = "green";
            div.appendChild(child);

            }
    </script>

  </head>
  <body>

    <span class="title"><h2>Prenotazioni</h2><h3>Rifugio Del Grande Camerini</h3></span>

    <div class="row">

      <!--<div id="calendar-head" {% if ris == True %} class="two-third-no-bar" {% else %} class="full-no-bar" {% endif %}>
        <table class="table calendar" >
            <tr>
              <th class='giorno'>Data</th>
              {% if ris == True %}
              <th class='gestore' >Gestore</th>
              {% endif %}
              <th class='letto'></th>
              <th class='letto'></th>
              <th class='letto'></th>
              <th class='letto'></th>
              <th class='letto'>Letto</th>
              <th class='letto'></th>
              <th class='letto'></th>
              <th class='letto'></th>
              <th class='letto'></th>
              <th class="brandina" style="border-left: 1px solid #aaa;">Brandina</th>
              <th class="brandina"></th>
              <th class="materasso" style="border-left: 1px solid #aaa;"></th>
              <th class="materasso">Materasso</th>
              <th class="materasso"></th>
              <th class="materasso"></th>
            </tr>
        </table>
      </div>
    </div> -->

      <div class="row">
        <div id="calendar-box" {% if ris == True %} class="two-third" {% endif %}>

            <table id="tableid" class="table calendar">
              <colgroup>
                <col class='giorno'>
                {% if ris == True %}
                <col class='gestore'>
                {% endif %}
                <col class='letto'>
                <col class='letto'>
                <col class='letto'>
                <col class='letto'>
                <col class='letto'>
                <col class='letto'>
                <col class="brandina">
                <col class="brandina">
                <col class="bivacco">
                <col class="bivacco">
                <col class="bivacco">
                <col class="bivacco">
                <col class="materasso">
                <col class="materasso">
                <col class="materasso">
                <col class="materasso">
              </colgroup>
                <thead>
                    <tr>
                      <th class='giorno'>Data</th>
                      {% if ris == True %}
                      <th class='gestore' >Gestore</th>
                      {% endif %}
                      <th class='letto'></th>
                      <th class='letto'></th>
                      <th class='letto'></th>
                      <th class='letto'></th>
                      <th class='letto'>Letto</th>
                      <th class='letto'></th>
                      <th class='letto'></th>
                      <th class='letto'></th>
                      <th class='letto'></th>
                      <th class='letto'></th>
                      <th class="brandina" style="border-left: 1px solid #aaa;">Brandina</th>
                      <th class="brandina"></th>
                      <th class="materasso" style="border-left: 1px solid #aaa;"></th>
                      <th class="materasso">Materasso</th>
                      <th class="materasso"></th>
                      <th class="materasso"></th>
                    </tr>
                </thead>
              <tbody>

            {% for absday in range(daysum) %}
            {% if (absday - dayxmonth[0][1]) > 0 %}
                {% if (absday - dayxmonth[1][1]) > 0 %}
                    {% if (absday - dayxmonth[2][1]) > 0 %}
                        {% set monthname = 'Set' %} {% set month = 9 %}
                    {% else %}
                        {% set monthname = 'Ago' %} {% set month = 8 %}
                    {% endif %}
                {% else %}
                    {% set monthname = 'Lug' %} {% set month = 7 %}
                {% endif %}
            {% else %}
                {% set monthname = 'Giu' %} {% set month = 6 %}
            {% endif %}

            {% if month == 6 %}
                {% set day = absday+1 %}
            {% else %}
                {% set day = (absday+1 - dayxmonth[month-7][1]) %}
            {% endif %}

              <tr id="{{ day }}-{{ month }}" {% if today.day == day and today.month == month %} id="today" class="border" {% endif %}>
                <td {% if day == 1 %} style="border-top:4px solid black;"{% endif %}
                    {% if (firstweekday+absday-1) % 7 == 6 %} style="color:red;" {% endif %}
                    {% if month == 8 and day==15 %} style="color:red;" {% endif %}
                    >
                    {{ day }} {{ monthname }} / {{ absday }}
                </td>

                {% if ris == True %}
                <td {% if day == 1 %} style="border-top:4px solid black;"{% endif %}>
                    <a id="{{ day }}-G" href='javascript:getGestore({{ gestioni[absday] }})'>
                    {{ gestioni[absday] }}
                    </a>
                </td>
                {% endif %}

                {% set n = 1 %}
                {% for pren in booked_days[absday] %}
                <td class='booked' style="background:{{pren[1]}}" {% if day == 1 %} style="border-top:4px solid black;"{% endif %}>
                    <a id="{{ day }}-{{ n }}" href='javascript:getData({{ pren[0] }})'>
                        <b>
                            {% if pren[2] == 1 %}
                                G{{ pren[0] }}
                            {% else %}
                                {{ pren[0] }}
                            {% endif %}
                        </b>
                    </a>
                </td>
                {% set n = n+1 %}
                {% endfor %}

                {% for empty in range(16 -(booked_days[absday]|length) ) %}
                <td {% if day == 1 %} style="border-top:4px solid black;"{% endif %} ></td>
                {% endfor %}

              </tr>
              {% endfor %}
              {#% endfor %#}
              </tbody>
            </table>

        </div>


        {% if ris == True %}

        <div id="data-box" class="one-third">
          <div class="inner-box center">
              <button type="button" class="btn btn-primary" onclick="javascript:makeBooking()">Nuova Prenotazione</button>
          </div>

          <div id="left-box" class="inner-box white">
              <h3 id='left-box-num'>Prenotazione № </h3>
              <p id='left-box-nome'><b>Nome Cliente</b>:</p>
              <p id='left-box-tel'><b>№ Telefono</b>:</p>
              <p id='left-box-arrivo'><b>Data Arrivo</b>:</p>
              <p id='left-box-durata'><b>Durata</b>:</p>
              <p id='left-box-posti'><b>Posti prenotati</b>:</p>
              <p id='left-box-resp'><b>Responsabile</b>:</p>
              <button type="button" class="btn btn-success" onclick="javascript:modifyBooking()">Modifica Dati</button>
              <button type="button" class="btn btn-danger" onclick="javascript:deleteBooking()">Elimina Prenotazione</button>
          </div>
        </div>


        {% endif %}

      </div>

  </body>
</html>
